.control {
  font-weight: 500;
  width: 100%;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  }
}
